<tr>
  <td class="ex_id">@insert:id;</td>
  <td>@insert:ex_name;</td>
  <td>@insert:ex_muscle;</td>
  <td>@insert:ex_img;</td>
  <td>@insert:machine;</td>
  <td class="ex_desc">@insert:ex_desc;</td>
  <td class="delete_btn" onclick="delete_request('@insert:id;')"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
</tr>
